.playButtonTD {
    border: 1px solid lightgrey;
    border-width: 1px 0;
    padding: 4px 0;
}

.audioTitleTD {
    border: 1px solid lightgrey;
    border-width: 1px 0;
    padding: 4px 0;
    width: 400px;
    max-width: 400px;
}
