h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e272e;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    font-weight: bolder !important;
}

h4 {
    font-weight: bold !important;
}

.yellow {
    color: #ffd32a;
}

.green {
    color: #0be881;
}

.navbar {
    top: 0;
    left: 0;
    right: 0;
}
