h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e272e;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    font-weight: bolder !important;
    position: relative;
    right: 0.5em;
}

h4 {
    font-weight: bold !important;
}

.yellow {
    color: #ffd32a;
}

.green {
    color: #0be881;
}

// .container-fluid {
//     padding: 3em !important;

//     .navbar {
//         padding: 3em !important;
//     }

//     .body {
//         height: 100%;
//         margin-top: 3em;
//     }
// }

.playButtonTD {
    border: 1px solid lightgrey;
    border-width: 1px 0;
    padding: 4px 0;
}

.audioTitleTD {
    border: 1px solid lightgrey;
    border-width: 1px 0;
    padding: 4px 0;
    width: 400px;
    max-width: 400px;
}
